<h2 mat-dialog-title><i class="fas fa-times float-right" (click)="Close()"></i></h2>
<mat-dialog-content>
<div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body" *ngIf="imageAttachments.length > 0">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let slider of imageAttachments; let i = index " class="carousel-item">
                            <img id="{{'item_'+i}}"  class="img-fluid mx-auto d-block  carousel-zoom" [src]="'data:image/jpg;base64,' + slider" alt="Random first slide" width="100%">
                            <div class="carousel-caption">
                                    <h3>{{i + 1}}</h3>
                                    <button mat-raised-button id="{{'zoom-in_'+i}}"><i class="fa fa-search-plus"></i></button>
                                    <button mat-raised-button id="{{'zoom-out_'+i}}"><i class="fa fa-search-minus"></i></button>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="card-body" *ngIf="imageAttachments.length === 0">
                    <i class="fa fa-image fa-5x"><span>No Images to display</span></i>
                </div>
            </div>
        </div>
</div>
</mat-dialog-content>
