$topnav-background-color: #222;

.reissue-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.ng-invalid.ng-touched:not(form) {
    border-left: 4px solid theme-color("danger");
}


#reissue_container{
    box-shadow:
        0 0 0 3px #bfbfbf,
        0 0 0 6px #a6a6a6,
        0 0 0 9px #8c8c8c,
        0 0 0 12px #737373,
        0 0 0 15px #595959;
}

strong{
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: black;
}

.mat-divider {
    width: 100% !important;
}

.mat-icon {
    color: #000000 !important;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .mat-form-field {
    width: 100% !important;
    color: #000000 !important;
}