<h2 mat-dialog-title><i class="fas fa-times float-right" (click)="Close()"></i></h2>
<mat-dialog-content>
        <div class="jumbotron">
    <div class="row">Part ID :{{copiedPart.PART_ID}}</div>
    <form [formGroup]="unlinkoeForm" novalidate >
        <div class="form-group form-inline">
            <label for="id">OE :</label>
            <select name="id" class="form-control" formControlName="oe_number">
                <option *ngFor="let oe of copiedPart.OE_ARRAY; let i = index" value="{{oe}}">{{oe}}</option>
            </select>
        </div>
        <button (click)="unlinkOE()" [disabled]="!unlinkoeForm.valid" class="btn float-left">Save</button>
    </form>
</div>
</mat-dialog-content>
