
<!-- Filter clear button Template -->
<ng-template #filterClearTmpl>
    <button mat-raised-button color="primary" (click)="clearFilterView()">Clear Results</button>
</ng-template>

<div [@routerTransition]>
    <app-page-header [heading]="'Verification'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-xl-12">
            <div class="example-container mat-elevation-z8">
                <div class="table-header">
                    <ng-container *ngIf="filterProps.showFilterClearButton">
                        <ng-container  *ngTemplateOutlet="filterClearTmpl;"></ng-container>
                    </ng-container>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="REQUEST_ID">
                        <mat-header-cell *matHeaderCellDef >
                            
                            <app-filter-form [columnID]="'REQUEST_ID'" [icon]="'filter_list'" [filterName]="'Request ID'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.REQUEST_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ASSESSMENT_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'ASSESSMENT_ID'" [icon]="'filter_list'" [filterName]="'Assessment ID'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ASSESSMENT_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="VIN">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'VIN'" [icon]="'filter_list'" [filterName]="'VIN'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.VIN}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="REGISTRATION">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'REGISTRATION'" [icon]="'filter_list'" [filterName]="'Registration'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.REGISTRATION}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="WORKPROVIDER_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'WORKPROVIDER_ID'" [icon]="'filter_list'" [filterName]="'Work Provider'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.WORKPROVIDER_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CLAIM_NO">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'CLAIM_NO'" [icon]="'filter_list'" [filterName]="'Claim No'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.CLAIM_NO}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="UNDER_WARRANTY">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'UNDER_WARRANTY'" [icon]="'filter_list'" [filterName]="'Under Warranty'" [trigger]="2" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.UNDER_WARRANTY}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CREATE_DATE">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'CREATE_DATE'" [icon]="'filter_list'" [filterName]="'Creation Date'" [enabled]="false" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.CREATE_DATE | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="PROCESSED_BY">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'PROCESSED_BY'" [icon]="'filter_list'" [filterName]="'Processed By'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.PROCESSED_BY}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns" class="element-row" (click)="populateAssessment(row)"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons] = 'true'></mat-paginator>
        </div>
    </div>
</div>



