<!-- Filter clear button Template -->
<ng-template #filterClearTmpl>
    <button mat-raised-button color="primary" (click)="clearFilterView()">Clear Results</button>
</ng-template>

<div [@routerTransition]>
    <app-page-header [heading]="'Assessment-Notification'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-xl-12">
            <div class="example-container mat-elevation-z8">
                <div class="table-header">
                    <ng-container *ngIf="filterProps.showFilterClearButton">
                        <ng-container *ngTemplateOutlet="filterClearTmpl;"></ng-container>
                    </ng-container>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="SUBMISSION_DATE">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'SUBMISSION_DATE'" [icon]="'filter_list'" [filterName]="'Submission Date'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.SUBMISSION_DATE | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ASSESSMENT_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'ASSESSMENT_ID'" [icon]="'filter_list'" [filterName]="'Assessment ID'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ASSESSMENT_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ASSESSMENT">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'ASSESSMENT'" [icon]="'filter_list'" [filterName]="'Assessment'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ASSESSMENT}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="REQUEST_CREATED">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'REQUEST_CREATED'" [icon]="'filter_list'" [filterName]="'Assessment Created'" [trigger]="2" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.REQUEST_CREATED}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="MESSAGE_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'MESSAGE_ID'" [icon]="'filter_list'" [filterName]="'Email ID'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.MESSAGE_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="RETRY">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'RETRY'" [icon]="'filter_list'" [filterName]="'No. Tries'" [trigger]="1" [enabled]="false" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.RETRY}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="MAIL_RECEIVED">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'MAIL_RECEIVED'" [icon]="'filter_list'" [filterName]="'Email Received'" [trigger]="2" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.MAIL_RECEIVED}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons] = 'true'></mat-paginator>
        </div>
    </div>
</div>