<!-- Filter clear button Template -->
<ng-template #filterClearTmpl>
    <button mat-raised-button color="primary" (click)="clearFilterView()">Clear Results</button>
</ng-template>
<div [@routerTransition]>
    <app-page-header [heading]="'Work Provider Management'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-xl-12">
            <div class="example-container mat-elevation-z8">
                <div class="table-header">
                    <ng-container *ngIf="filterProps.showFilterClearButton">
                        <ng-container *ngTemplateOutlet="filterClearTmpl;"></ng-container>
                    </ng-container>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="K8_ACCOUNT_NO">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'K8_ACCOUNT_NO'" [icon]="'filter_list'" [filterName]="'KERRIDGE ACC NO'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.K8_ACCOUNT_NO}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="WORKPROVIDER_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'WORKPROVIDER_ID'" [icon]="'filter_list'" [filterName]="'WORK PROVIDER'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.WORKPROVIDER_ID}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="WORKPROVIDER_ABBR">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'WORKPROVIDER_ABBR'" [icon]="'filter_list'" [filterName]="'WORK PROVIDER ABBR'" [trigger]="2" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.WORKPROVIDER_ABBR}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="MANAGE">
                        <mat-header-cell *matHeaderCellDef> MANAGE </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="EditInformation(element)">{{ 'Edit Information' }}</button>
                            </mat-menu>
                            <button mat-icon-button mat-raised-button [matMenuTriggerFor]="appMenu">
                                <i class="fa fa-bars fa-2x"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: tableColumns;" matRipple class="element-row"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </div>
</div>