<!DOCTYPE html><html lang="en"><head>
        <meta charset="utf-8">
        <meta name="description" content="TN portal system for user management">
        <title>TN Portal</title>
        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script>
        if (global === undefined) {
            var global = window;
        }
    </script><link rel="stylesheet" href="styles.c237c07fc00025cee9ac.css"></head>
    
    <body>
        <noscript>
            <h3 style="color: #673ab7; font-family: Helvetica; margin: 2rem;">
                Sorry, but app is not available without javascript
            </h3>
        </noscript>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDHW8PUZuGO-gdtFg9IkRFQGMkwqrABZ-8&amp;libraries=places&amp;language=en-US"></script>
        <script data-jsd-embedded="" data-key="90e96162-98af-483f-bfae-04aeb0faeb9d" data-base-url="https://embedded-jsd.atlassian.io" src="https://embedded-jsd.atlassian.io/assets/embed.js"></script>
        <app-root>
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </app-root>
    

<script type="text/javascript" src="runtime.4e58887f36f12cfcd4a8.js"></script><script type="text/javascript" src="polyfills.3ef404c8b4e8f20ab0c3.js"></script><script type="text/javascript" src="scripts.c221ef286ab98de2e7fa.js"></script><script type="text/javascript" src="main.5fbe80c04a27e99bb0b4.js"></script></body></html>