<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>

    <form (ngSubmit) = "GetUsers()"  [formGroup]="searchForm" novalidate class="form-inline">
        <div class="form-group">
                <label for="searchby">SearchBy</label>
                <select name="searchby" class="form-control" formControlName="searchBy">
                    <option value="">All</option>
                    <option *ngFor="let column of data.column; let i = index" value="{{column.field}}" [hidden]="!column.filter">{{column.name}}</option>
                </select>
        </div>
    <div class="form-group">
        <label for="searchvalue">Search Value</label>
        <input name="searchvalue" class="form-control" formControlName="searchValue">
    </div>
    <button type="submit" class="btn btn-secondary">Search</button>

    </form>
    <button id="adduser" (click)="AddUser()" class="btn btn-secondary">Add User</button>
    
    <div class="row">
        <div class="card-block table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th *ngFor="let column of data.column; let i = index">{{column.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of data.content; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.branch.name}}</td>
                    <td>{{user.status}}</td>
                    <td><i class="fa fa-tasks"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
