<div class="reissue-page" [@routerTransition]>
    <div class="row">
        <div class="reissue-container bg-light">
            <div class="reissue-box">
              <div class="container">
                <div class="card col-md-6 mt-3 mx-auto" id="reissue_container">
                  <div class="card-body">
                    <h4 class="card-title text-center">
                      <strong>TN <i class="fas fa-mobile-alt"></i> PORTAL</strong>
                    </h4>
                    <form (ngSubmit)="onChangePassword()" [formGroup]="reissueForm" novalidate>
                        <mat-form-field>
                            <input matInput  formControlName="currentPassword" placeholder="Current Password" [type]="hide ? 'password' : 'text'" />
                            <mat-icon matSuffix (click)="hide = !hide"><i class="fa {{hide ? 'fa-eye' : 'fa-eye-slash'}}"></i></mat-icon>
                            <mat-error [hidden]="reissueForm.controls.currentPassword.valid || reissueForm.controls.currentPassword.untouched">
                                Current Password is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field  [ngbTooltip]="tipContent">
                        <input matInput (ngModelChange)="checkPassword(reissueForm.controls.newPassword.errors)" formControlName="newPassword" placeholder="New Password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide"><i class="fa {{hide ? 'fa-eye' : 'fa-eye-slash'}}"></i></mat-icon>
                        <mat-error [hidden]="reissueForm.controls.newPassword.valid || reissueForm.controls.newPassword.untouched">
                              New Password is required
                        </mat-error>
                        <mat-divider></mat-divider>
                        <ng-template #tipContent>
                                <span style="color: #C21F39">
                                    Password must contain atleast one
                                </span><br/>
                                <small><b>special character [*/=+_)(&^%$#@!~?]</b> </small><br/>
                                <small><b>Numbers [0-9]</b> </small><br/>
                                <small><b>Lower Case [a-z]</b> </small><br/>
                                <small><b>Upper Case [A-Z]</b> </small>
                            </ng-template>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput  formControlName="confirmPassword" placeholder="Confirm Password" [type]="hide ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hide = !hide"><i class="fa {{hide ? 'fa-eye' : 'fa-eye-slash'}}"></i></mat-icon>
                                <mat-error [hidden]="reissueForm.controls.confirmPassword.valid || reissueForm.controls.confirmPassword.untouched">
                                    Password doesn't match
                                </mat-error>  
                            </mat-form-field>
                            <button class="btn btn-primary w-100" type="submit" [disabled]="reissueForm.invalid || isLoading">
                                <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                                <span translate>Change Password</span>
                            </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>
