.card-body{
    padding-bottom: 0% !important;
    padding-top: 0% !important;
}
.col-xl-4.text-xs-center{
    padding: 1.5em !important;
}
.display{
    width: 100px !important;
}

button.button-attachment {
    margin-bottom: 2% !important;
    margin-top: 2% !important;
}
.fas {
    margin-right: 10px;
}
h3 {
    color: red;
}

.badge-danger {
    font-size: 10pt !important;
    font-weight: bold !important;
    background-color:  #ff0000 !important;
}
.badge-warning {
    font-size: 10pt !important;
    font-weight: bold !important;
    background-color: #ff9900 !important;
}
.badge-light {
    font-size: 10pt !important;
    font-weight: bold !important;
}


