.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .modal-content{
      padding: 5%!important;
      margin: 0 auto;
      width: 50%!important;
      height: 50%!important;
      display: table-cell;
      vertical-align: middle;
  }