<mat-dialog-content><div class="jumbotron">
    <h2 mat-dialog-title>Add MBR!<i class="fas fa-times float-right" (click)="Close()"></i></h2>
    <div class="row example-container">
<div class="col-xl-4">
  <form [formGroup]="searchForm" class="user-form" novalidate>
    <mat-form-field >
        <input matInput placeholder="MBR NAME" class="form-control" formControlName="MBR_NAME"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="TELEPHONE" class="form-control" formControlName="TELEPHONE"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="FAX" class="form-control" formControlName="FAX"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="E-MAIL" class="form-control" formControlName="EMAIL"/>
    </mat-form-field>
    <!-- <mat-form-field > -->
    <ng4geo-autocomplete [userSettings]="userSettings" class="address" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
    <!-- //</mat-form-field> -->
    <!-- <mat-form-field >
        <input matInput placeholder="ADDRESS" class="form-control" formControlName="ADDRESS_1"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="ADDRESS" class="form-control" formControlName="ADDRESS_2"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="ADDRESS" class="form-control" formControlName="ADDRESS_3"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="ADDRESS" class="form-control" formControlName="ADDRESS_4"/>
    </mat-form-field> -->
    <!-- <mat-form-field >
        <input matInput placeholder="PROVINCE" class="form-control" formControlName="PROVINCE"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="GPS LATITUDE" class="form-control" formControlName="GPS_LAT"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="GPS LONGITUDE" class="form-control" formControlName="GPS_LONG"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="POSTAL CODE" class="form-control" formControlName="PostCode"/>
    </mat-form-field> -->
    <mat-form-field >
        <input matInput placeholder="VAT ID" class="form-control" formControlName="MBR_VAT_ID"/>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="KERRIDGE ACCOUNT" class="form-control" formControlName="KERRIDGE_ACC_NO"/>
    </mat-form-field>
    <div>
      <button mat-button mat-raised-button [disabled]="searchForm.invalid || isLoading" (click)="saveMbr()">
          <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
          <span>Save</span>
      </button>
    </div>
  </form>
</div>
</div>    
</div>
</mat-dialog-content>