<!-- Child table -->
<ng-template #subTable let-element>
    <div class="mat-row" [@detailExpand]>
        <ng-container matColumnDef="expandedDetail">
            <div class="sub-table-container" [hidden]="element.MATCHED.length === 0">
                <mat-table #table [dataSource]="matchedDataSource(element.MATCHED)">
                    <ng-container matColumnDef="MATCHED_PART">
                        <mat-header-cell *matHeaderCellDef> Part ID </mat-header-cell>
                        <mat-cell *matCellDef="let part"> {{part.MATCHED_PART}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="PART_DESCRIPTION">
                        <mat-header-cell *matHeaderCellDef> Part Description </mat-header-cell>
                        <mat-cell *matCellDef="let part"> {{part.PART_DESCRIPTION}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="PART_STANDARD">
                        <mat-header-cell *matHeaderCellDef> Part Standard </mat-header-cell>
                        <mat-cell *matCellDef="let part"> {{ displayPartStandard(part.PART_STANDARD) }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="MATCHED_PRICE">
                        <mat-header-cell *matHeaderCellDef> Part Price </mat-header-cell>
                        <mat-cell *matCellDef="let part"> {{part.MATCHED_PRICE}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>Accept</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-raised-button [hidden]="row.PART_STATUS_ID !==10 || selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                                [disabled]="isMatchMBR" (click)="getPrice(row)" matTooltip="Check Price for Part">
                                <i class="fas fa-money-bill-alt"></i>
                            </button>
                            <mat-checkbox class="custom-control custom-checkbox" [disabled]="isMatchMBR || selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                                [hidden]="row.PART_STATUS_ID === 10" [name]="row.REQUEST_ID" (click)="$event.stopPropagation();priceChange(row, element);"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [disabled]="isMatchMBR || selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                        [ngClass]="row.PART_STATUS_ID === 8? 'badge-danger': row.PART_STATUS_ID === 9? 'badge-warning': 'badge-light'"
                        (click)="selection.toggle(row);priceChange(row, detail.element);">
                    </mat-row>
                </mat-table>
            </div>
        </ng-container>
    </div>
</ng-template>

<div [@routerTransition]>
    <app-page-header [heading]="'Confirm Match'" [icon]="'fa-table'"></app-page-header>
    <h3 [hidden]="selectedAssessment.PROCESSED_BY === user.firstName + '  ' + user.lastName">
        <i class="fas fa-lock"></i> Locked By {{selectedAssessment.PROCESSED_BY}}
    </h3>
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 text-xs-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <span class="diplay">Date</span>
                                    <span>{{selectedAssessment.CREATE_DATE | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Request Number : </span>
                                    <span>{{selectedAssessment.REQUEST_ID}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Claim Number : </span>
                                    <span>{{selectedAssessment.CLAIM_NO}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Motor Body Repairer : </span>
                                    <span>{{displayMBRWORKPROVIDER(selectedAssessment.MBR_ID)}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Branch : </span>
                                    <span>{{displayBranch(selectedAssessment.OUTLET_ID)}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Vehicle Registration : </span>
                                    <span>{{selectedAssessment.REGISTRATION}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-xs-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <span class="diplay">Vehicle Make : </span>
                                    <span>{{requestAdditional.VEHICLE_MAKE }}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Vehicle Range : </span>
                                    <span>{{requestAdditional.MODELSPEC}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">VIN : </span>
                                    <span>{{selectedAssessment.VIN}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Vehicle Year Model : </span>
                                    <span>{{requestAdditional.MODELYEAR}}</span>
                                </div>
                                <div class="card-body">
                                    <span class="diplay">Submitted By : </span>
                                    <span>{{requestAdditional.SUBMITTEDBY}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-xs-center">
                            <div class="card mb-3 button-padding">
                                <div class="card-body">
                                    <button class="button-attachment" mat-raised-button [disabled]="isFilesLoading" (click)="assessmentPdf()">View PDF</button>
                                </div>
                                <div class="card-body">
                                    <button mat-raised-button class="button-attachment" [disabled]="isFilesLoading" (click)="prepareImageSlider()">View Images</button>
                                </div>
                                <div class="card-body">
                                    <button mat-raised-button class="button-attachment" [hidden]="selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                                        [disabled]="!isMatchMBR" (click)="processMatch()">Match MBR</button>
                                </div>
                                <div class="card-body">
                                    <button mat-raised-button class="button-attachment" [hidden]="selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                                        [disabled]="!isMatchWorkProvider" (click)="processMatch()">Match Work Provider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="PART_STATUS_ID">
                                <mat-header-cell *matHeaderCellDef> Part Status </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ displayPartStatus(element.PART_STATUS_ID) }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="AUDA_PART_OE">
                                <mat-header-cell *matHeaderCellDef> Part OE </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.AUDA_PART_OE}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="AUDA_GUID">
                                <mat-header-cell *matHeaderCellDef> Part Guid </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.AUDA_GUID}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="AUDA_DESCRIPTION">
                                <mat-header-cell *matHeaderCellDef> Part Description </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.AUDA_DESCRIPTION}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="OE_PRICE">
                                <mat-header-cell *matHeaderCellDef> Part Price </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.OE_PRICE}} </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="data.columns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: data.columns;" matRipple class="element-row" [cdkDetailRowRender]="row" [cdkDetailRowRenderTpl]="subTable"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[ngTemplateOutlet]="subTable" [ngTemplateOutletContext]="row"-->
    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 text-xs-center float-left">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <form class="example-form">
                                        <mat-form-field class="example-form-field d-block">
                                            <input name="match" matInput placeholder="Autoboys Parts (Excl)" [(ngModel)]="matched_price_show" disabled>
                                        </mat-form-field>
                                        <mat-form-field class="example-form-field d-block">
                                            <input name="oe" matInput placeholder="OE Parts (Excl)" [(ngModel)]="oe_price_show" disabled>
                                        </mat-form-field>
                                        <mat-form-field class="example-form-field d-block">
                                            <input name="saved" matInput placeholder="Total Saved" [(ngModel)]="saved_amount" disabled>
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-xs-center float-right">
                            <div class="card mb-3">
                                <div class="card-body float-right">
                                    <form class="example-form">
                                        <mat-form-field class="d-block">
                                            <textarea name="comment" matInput placeholder="Comments" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="15"
                                                [(ngModel)]="comments"></textarea>
                                        </mat-form-field>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="float-left col-xl-4">
                        <button mat-raised-button color="primary" class="float-left">View Comments</button>
                    </div>
                    <div class="float-right col-xl-4">
                        <button mat-raised-button color="primary" (click)="goToVerification()">Back</button>
                        <button mat-raised-button color="primary" [disabled]="!comments || selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName"
                            (click)="cancelAssessment()">Cancel</button>
                        <button mat-raised-button color="primary" [disabled]="isLoading || selectedAssessment.PROCESSED_BY !== user.firstName + '  ' + user.lastName || submit_parts.length===0"
                            (click)="submitBids()">
                            <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                            <span>Procced</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>