<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [hidden]="checkPermission('UM_MENU_DASHBOARD')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tachometer-alt"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/user-management']" [hidden]="checkPermission('UM_MENU_USER_MANAGEMENT')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a [routerLink]="['/roles-management']" [hidden]="checkPermission('UM_MENU_ROLES_MANAGEMENT')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-universal-access"></i>&nbsp;{{ 'Roles' | translate }}
        </a>
        <a [routerLink]="['/permissions-management']" [hidden]="checkPermission('UM_MENU_PERMISSION_MANAGEMENT')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fab fa-superpowers"></i>&nbsp;{{ 'Permissions' | translate }}
        </a>
        <a [routerLink]="['/user-notification']" [hidden]="checkPermission('UM_MENU_USER_NOTIFICATION')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="far fa-bell"></i>&nbsp;{{ 'User Notification' | translate }}
        </a>
        <a [routerLink]="['/applications-management']" [hidden]="checkPermission('UM_MENU_APPLICATION_MANAGEMENT')" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fab fa-asymmetrik"></i>&nbsp;{{ 'Application' | translate }}
        </a>
    </div>
</nav>
