<!-- Filter clear button Template -->
<ng-template #filterClearTmpl>
    <button mat-raised-button color="primary" (click)="clearFilterView()">Clear Results</button>
</ng-template>
<div [@routerTransition]>
    <app-page-header [heading]="'Assessment View'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-xl-12">
            <div class="example-container mat-elevation-z8">
                <div class="table-header">
                    <ng-container *ngIf="filterProps.showFilterClearButton">
                        <ng-container *ngTemplateOutlet="filterClearTmpl;"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="checkPermission('UM_MENU_INSURER_VIEW_DROPDOWN')">
                        <mat-form-field>
                            <mat-select [(value)]="selected" (selectionChange)="onChange($event)">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let insurer of insurerList" [value]="insurer.WORKPROVIDER_ABBR"> {{insurer.WORKPROVIDER_ID}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="ASSESSMENT_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'ASSESSMENT_ID'" [icon]="'filter_list'" [filterName]="'Assessment ID'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ASSESSMENT_ID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="REGISTRATION">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'REGISTRATION'" [icon]="'filter_list'" [filterName]="'Registration'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.REGISTRATION}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CLAIM_NO">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'CLAIM_NO'" [icon]="'filter_list'" [filterName]="'Claim No'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.CLAIM_NO}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="POLICY_NO">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'POLICY_NO'" [icon]="'filter_list'" [filterName]="'Policy No'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.POLICY_NO}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="MAJOR_STATUS_ID">
                        <mat-header-cell *matHeaderCellDef>
                            <app-filter-form [columnID]="'MAJOR_STATUS_ID'" [icon]="'filter_list'" [filterName]="'Major Status'" (onFilter)="sendFilterRequest($event)"></app-filter-form>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{displayStatus(element.MAJOR_STATUS_ID)}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="COMMENTS">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Reasons/Comments </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-list>
                                <mat-list-item *ngFor="let comment of element.COMMENTS">
                                    <h4 mat-line> {{comment.CREATE_DATE | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} </h4>
                                    <p mat-line>{{comment.REASON}}</p>
                                </mat-list-item>
                            </mat-list>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="CREATE_DATE">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Create Date </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.CREATE_DATE | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: tableColumns;" matRipple class="element-row"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </div>
</div>
