<h2 mat-dialog-title><i class="fas fa-times float-right" (click)="Close()"></i></h2>
<mat-dialog-content>
        <div class="jumbotron">
            <form [formGroup]="copyForm" novalidate >
                    <div class="row form-group form-inline">
                            <label class="myinput" for="id">PART ID :</label>
                            <mat-form-field class="example-form-field">
                            <input name="id" matInput class="form-control" type="text" formControlName="PART_ID"/>
                        </mat-form-field>
                        </div>
                    </form>
            <div class="row">Part Standard :{{displayStandard(copiedPart.PART_STANDARD)}}</div>
            <div class="row">Part Description: {{copiedPart.PART_DESCRIPTION}}</div>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                <th >OE</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let oe of pagedContent; let i = index">
                    <td>{{oe}}</td>
                </tr>
                </tbody>
            </table>
            <mat-paginator *ngIf="pagedContent.length > 0" [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="paginationEvent($event)">
            </mat-paginator>

            <button (click)="savePart()" [disabled]="!copyForm.valid" class="btn float-left">Save</button>
            </div>
</mat-dialog-content>